<div class="divbody">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand">JSharp</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" (click)="openDot()">AST</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="openErrors()">Errores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="openTs()">Tabla de Simbolos</a>
            </li>
        </ul>
      </div>
    </nav>
  
    <main role="main" class="col-md-12 ml-sm-auto pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">JSharp Editor</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary mr-2" (click)="CreateNewTab('', 'new file')">New File</button>
            <button class="btn btn-sm btn-outline-secondary mr-2" (click)="BrowseFile()">Open File</button>
            <input #browse type="file" hidden (change)="FileUpload($event)">
            <button class="btn btn-sm btn-outline-secondary mr-2">Save File</button>
            <button class="btn btn-sm btn-outline-secondary mr-2" (click)="DeleteTab()">Close File</button>
            <button class="btn btn-sm btn-outline-secondary mr-2" (click)="Compile()">Compile</button>
            <button class="btn btn-sm btn-outline-secondary mr-2">Optimize</button>
          </div>
        </div>
      </div>
  
      <div class="alert alert-danger" *ngIf="alert" role="alert">{{ alert }}</div>
      <div class="alert alert-success" *ngIf="success" role="alert">{{ success }}</div>
      <ngb-tabset (tabChange)="ChangeCurrent($event)" #tabSet>
        <ngb-tab id="firstTab">
          <ng-template ngbTabTitle>
            <span>{{firstTabTitle}}</span>
          </ng-template>
        </ngb-tab>
        <ngb-tab *ngFor="let tab of tabs ; let i = index">
          <ng-template ngbTabTitle>
            <span>{{tab.name}}</span>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
  
      <ace [config]="config" class="my-4 mb-5" style="height: 450px;" class="mb-2" [(value)]="currentText"></ace>
      <!--<textarea class="mt-4 form-control" readonly id="exampleFormControlTextarea1" rows="6"></textarea>-->
    </main>

    <app-tree [dot]="dot" *ngIf="dotFlag" class="mt-4"></app-tree>

    <div *ngIf="symbolsFlag">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Rol</th>
            <th scope="col">Tipo</th>
            <th scope="col">Posicion Relativa</th>
            <th scope="col">Ambito</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let symbol of symbols">
            <th>{{symbol.id}}</th>
            <th>{{symbol.role}}</th>
            <th>{{symbol.type}}</th>
            <th>{{symbol.position}}</th>
            <th>{{symbol.envId}}</th>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="errorsFlag">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Tipo</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Fila</th>
            <th scope="col">Columna</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let error of errors">
            <th>{{error.type}}</th>
            <th>{{error.description}}</th>
            <th>{{error.row}}</th>
            <th>{{error.column}}</th>
          </tr>
        </tbody>
      </table>
    </div>
  
</div>